<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <button id="collapseButton">Toggle one-off collapse</button>
    <div class="collapse" id="collapse">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab minus fugit
      fugiat repellendus ipsum, libero nesciunt ipsa sit laboriosam dolor,
      provident incidunt beatae qui quia rem impedit! Assumenda, ratione harum!
    </div>
    <button data-collapse="generalCollapse">Toggle generalized collapse</button>
    <div class="collapse" id="generalCollapse">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab minus fugit
      fugiat repellendus ipsum, libero nesciunt ipsa sit laboriosam dolor,
      provident incidunt beatae qui quia rem impedit! Assumenda, ratione harum!
    </div>
    <script src="script.js"></script>
  </body>
</html>
